<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" th:href="@{/webjars/material-design-icons/3.0.1/material-icons.css}"
        href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" th:href="@{/webjars/material-design-lite/1.3.0/material.css}"
        href="/webjars/material-design-lite/1.3.0/material.css"/>
  <link rel="shortcut icon" th:href="@{/favicon.ico}" href="/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" th:href="@{/css/default.css}" href="/css/default.css"/>
</head>
<body>
<div layout:fragment="body-content">
  <pre><code>O.o</code></pre>
</div>
<script th:src="@{/webjars/material-design-lite/1.3.0/material.js}"
        src="/webjars/material-design-lite/1.3.0/material.js"></script>
<script th:src="@{/js/default.js}" src="/js/scripts.js"></script>
</body>
</html>
